<a href="https://colab.research.google.com/github/TAEWOOYOON/SkillTreePython/blob/main/4_3_%EC%A1%B0%EA%B1%B4%EB%AC%B8___while_%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4-3. 조건문 : while 문
---
* 날짜:2022.04.04
* 이름:윤태우

## 개념정리
---

또 다른 반복문인 whlie문은 for문과 동일하게 특정 코드를 반복해서 진행합니다. 그렇지만 for문과 달리 반복문 내에 반복되는 특정 변수가 없으며 필요시 직접 입력해주어야 합니다.

### **(1) 기본 사용**

while문의 기본 구조는 아래와 같습니다.



```
while <조건문>:
  <반복되는 코드>
  ...
```

조건문은 항상 bool 형태, 즉 True 혹은 False임을 유의하세요. while은 조건문이 True인 동안 계속해서 반복됩니다. <조건문> 자리에 a가 5보다 작다는 조건을 입력해봅시다. 반복문이 시작할 때 a가 0이기 때문에 a<5라는 조건은 `True` 가 됩니다. 조건문이 `True`인 동안 a는 1씩 증가하다가 a가 5 이상이 되는 순간 조건문은 `False`가 되며 반복문이 종료됩니다.

```
a=0
while a<5:
  print(a)
  a+=1
```

In [1]:
a = 0
while a<5:
  print(a)
  a+=1

0
1
2
3
4

#### **무한루프**

이번에는 <조건문> 자리에 직접 `True` 를 입력하겠습니다. 이렇게 되면 반복문의 조건문이 항상 `True`인 상태기 때문에 다른 조건을 코드 아래에 추가해 주지 않으면 무한루프가 됩니다. (아래 코드는 무한 루프이기 때문에 굳이 실행해 보지 않아도 됩니다.)

```
a=0
while True:
  print(a)
  a+=1
```

In [ ]:
a=0
while True:
  print(a)
  a+=1

### **(2) if문과 함께 쓰는 for문**

무한이 코드가 돌아가지 않도록 해야 하기 때문에 보통 반복문 내에 이를 컨트롤 할 코드를 작성해 줍니다.


#### **다음반복으로 건너뛰기**

* `continue`

만일 특정 조건에서 루프를 그대로 종료하는 것이 아니라 다음 루프로 넘어가고 싶다면 `continue`를 사용합니다.

```
a = 0
while True:
  print(a)
  a+=1
  if a==5: 
    continue
  if a==10:
    break
```

In [89]:
a = 0
while True:
  print(a)
  a+=1
  if a==5: 
    continue
  if a==10:
    break

0
1
2
3
4
5
6
7
8
9

#### **while문을 즉시 종료하기**  

* `break`

`for문` 안에서 `break` 을 만나면 즉시 `for문`이 종료됩니다. (모든 루프가 돌아가지 않았어도)

```
a=0
while True:
  print(a)
  a+=1
  if a==5:
    break
```

In [2]:
a = 0
while True :
  print(a)
  a+=1
  if a>=10 :
    break

0
1
2
3
4
5
6
7
8
9

## 문제 풀이
---


**예제 01**

for문으로 작성한 코드와 똑같은 결과가 나오도록 while문으로 작성하세요

```
for i in range(3, 10):
  print(i)
```

In [3]:
a=3
while a < 10 :
  print(a)
  a+=1

3
4
5
6
7
8
9

**예제 02**

for문으로 작성한 코드와 똑같은 결과가 나오도록 while문으로 작성하세요

```
for i in range(1, 101, 5):
  print(i)
```

In [4]:
a = 1
while a < 101 :
  print(a)
  a+=5

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

**예제 03**

for문으로 작성한 코드와 똑같은 결과가 나오도록 while문으로 작성하세요

```
for i in range(100):
  if i%2==0:
    print(i,"짝수")
  if i==80: break
```

In [11]:
a = 1
while a < 100 :
  if a%2 == 0 :
    print(a,'짝수')
  elif a >= 80 : break 
  a+=1

2 짝수
4 짝수
6 짝수
8 짝수
10 짝수
12 짝수
14 짝수
16 짝수
18 짝수
20 짝수
22 짝수
24 짝수
26 짝수
28 짝수
30 짝수
32 짝수
34 짝수
36 짝수
38 짝수
40 짝수
42 짝수
44 짝수
46 짝수
48 짝수
50 짝수
52 짝수
54 짝수
56 짝수
58 짝수
60 짝수
62 짝수
64 짝수
66 짝수
68 짝수
70 짝수
72 짝수
74 짝수
76 짝수
78 짝수
80 짝수

**예제 04**

while 문을 이용해 1에서 100까지 짝수만 출력하세요

In [58]:
a = 1
while a <= 100 :
  if a%2 == 0 :
    print(a)
  a+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**예제 05**

while 문을 이용해 1에서 100까지 홀수만 더한 값을 구하세요

In [62]:
a = 1
b = 0
while a <= 100 :
  if a%2 == 1 :
    b += a
  a+=1
print(b)

2500

**예제 06**

while 문을 이용해 1에서 100까지 4와 3의 공배수들의 평균을 구하세요

In [67]:
a = 1
b = 0
while a <= 100 :
  if a%4 == 0 and a%3 == 0 :
    print(a)
    b+=a
  a+=1
print(b/8)

12
24
36
48
60
72
84
96
54.0

**예제 07**

- while구문을 시작합니다.
- `input()` 함수로 사용자의 입력을 계속 받습니다.
- 사용자가 "그만" 이라고 입력하면 구문을 종료합니다.

In [88]:
while True :
  a = input('')
  if len(a) == 2 :
    break

a
a
1
그만

**예제 08**

while문을 이용해 아래 결과를 내는 함수 `bomb()` 를 작성하세요. 음수가 입력될 경우 다른 에러메시지를 출력하세요.


```
>> bomb() 
Enter timer: 6  
befor 6 sec.  
befor 5 sec.  
befor 4 sec.  
befor 3 sec.  
befor 2 sec.  
befor 1 sec.  
BOMB!  
```

In [98]:
def bomb(x) :
  x = 10
  while True :
    x-=1
    if x > 0 :
      print(f'before {x} sec.')
    elif x == 0 :
      print('BOMB!')
    elif x<0 : break
bomb(9)

before 9 sec.
before 8 sec.
before 7 sec.
before 6 sec.
before 5 sec.
before 4 sec.
before 3 sec.
before 2 sec.
before 1 sec.
BOMB!

**예제 09**

연이자율이 8%인 예금통장에 길동이는 올해 1월 1000만원을 예금했습니다. 이 돈이 1500만원을 넘기는 시점은 몇년뒤 인지 while문을 이용해서 구하세요

In [103]:
y = 0
m = 10000000
while m < 15000000 :
  m+=m*0.08
  y+=1
  if m > 15000000 :
    break
print(f'{y}년 후에 {m} 만원으로 1500만원을 넘습니다.')

6년 후에 15868743.22944 만원으로 1500만원을 넘습니다.

**예제 10**

- while 문을 이용해 1부터 100까지 값을 출력합니다.
- 만약 출력값이 짝수면 `list_even`, 홀수면 `list_odd`, 5의 배수면 `list_5`
- `list_even, list_odd, list_5`는 리스트이며 중복가능하게 각 리스트에 숫자를 넣습니다.

In [115]:
list_even = []
list_odd = []
list_5 = []
a = 0
while a <= 100 :
  if a%2 == 0 :
    list_even.append(a)
    if a%5 == 0 :
      list_5.append(a)

  elif a%2 == 1 :
    list_odd.append(a)
    
  a+=1
print(list_even, list_odd, list_5, sep='\n')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]